@model ControlDeEquiposMI.Models.Equipo

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h1>Detalles Del Equipo</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Informacion Del Equipo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pais)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pais)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FechaCreacion)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h4>Jugadores Del Equipo</h4>
        <hr />
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Jugadores)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@Model.EstadosJugadores.Where(m => m.Id == item.EstadoId).FirstOrDefault().Nombre</td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-dark"asp-action="Index">Back to List</a>
</div>
